@import 'fonts';
@import 'global';
@import 'mixins';

.intro {
    min-height: 100vh;
    background: url(../img/png/bg.png) no-repeat center, #1D2026;
    width: 100vw;
    background-size: cover;
    &__image-block {
        max-width: 270px;
        margin: 0 auto -20px;
    }
    &__img::after {
        content: url(../img/png/logo.png);
        position: relative;
        top: 0;
        left: 0;
        mix-blend-mode: hard-light;
        filter: blur(100px);
    }
    &__title {
        max-width: 920px;
        font-weight: 700;
        @include adaptiv-font(54, 22);
        line-height: 64px;
        color: white;
        letter-spacing: 0.03em;
        text-align: center;
        margin: 0 auto 16px;
    }
    &__span {
        letter-spacing: -0.25em;
    }
    &__subtitle {
        @include adaptiv-font(24, 16);
        line-height: 28px;
        text-align: center;
        margin: 0 auto 40px;
        max-width: 700px;
    }
}

.btn {
    @include styles-btn;
    cursor: pointer;
    transition: .5s;
    &:hover {
        filter: drop-shadow(4px 8px 20px rgba(2, 112, 215, 0.54))
    }
}

.global-title {
    font-weight: 600;
        font-size: 38px;
        line-height: 40px;
        color: #FFFFFF;
        text-align: center;
        margin: 0 auto 8px;
        position: relative;
        &::after {
            content: '';
            display: block;
            position: relative;
            width: 142px;
            height: 2px;
            background: #0270D7;
            margin: 5px auto 72px;
            box-shadow: 0px 0px 8px rgba(2, 112, 215, 0.54);
        }
}

.mb {
    display: none;
}
.pc {
    display: block;
}

.opportunities {
    background: #1D2026;
    &__content {
        display: grid;
        grid-row-gap: 20px;
        margin: 0 auto;
        justify-content: center;
    }
    &__row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        &:nth-child(5) {
            grid-template-columns: .3fr .7fr;
            & .opportunities__block {
                max-width: 740px;
            }
        }
    }
    &__block {
        max-width: 540px;
        width: 100%;
        height: auto;
        position: relative;
    }
    &__row:nth-child(odd) &__block:first-child {
        left: 4%
    }
    &__block-content {
        position: absolute;
        top: -165%;
    }
    &__subtitle {
        font-weight: 600;
        @include adaptiv-font(28, 18);
        line-height: 32px;
        color: #FFFFFF;
        margin-bottom: 5px;
    }
    &__text {
        max-width: 480px;
        margin-bottom: 5px;
    }
    &__btc {
        position: relative;
        left: -4%;
        @include adaptiv-font(237, 150);
        font-weight: 700;
        color: #24272e;
        text-transform: uppercase;
    }
    &__link {
        font-weight: 500;
        @include adaptiv-font(16, 13);
        line-height: 24px;
        text-decoration: underline;
        color: #0477e3;
    }
}

.develop {
    &__content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 64px;
    }
    &__pie {
        width: 255px;
        height: 255px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
    }
    &__card:first-child &__pie {
        transform: rotate(12deg);
    }
    &__card:nth-child(2) &__pie {
        transform: rotate(99deg);
    }
    &__card:nth-child(2) &__number {
        transform: rotate(-99deg);
    }
    &__card:nth-child(2) &__text {
        max-width: 219px;
    }
    &__out {
        width: 255px;
        height: 255px;
        border-radius: 50%;
        padding: 40px;
        background: #242830;
    }
    &__in {
        width: 175px;
        height: 175px;
        border-radius: 50%;
        background: #1D2026;
    }
    &__number {
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(-12deg);
        font-weight: 500;
        font-size: 38px;
        line-height: 40px;
        color: #FFFFFF;
    }
    &__card {
        display: flex;
        align-items: center;
        max-width: 540px;
    }
    &__text {
        line-height: 24px;
        color: #FFFFFF;
    }
}

svg {
    width: 255px;
    height: 255px;
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(0px 0px 32px rgba(2, 112, 215, 0.5));
}
circle {
    fill: none;
    stroke: url(#gradient);
    stroke-width: 40px;
    stroke-dasharray: 660;
    stroke-dashoffset: 660;
    box-shadow: 0px 0px 32px rgba(2, 112, 215, 0.5);
}

@keyframes pie {
    100% {
        stroke-dashoffset: 198;
    }
}
@keyframes pieSecond {
    100% {
        stroke-dashoffset: 370;
    }
}

.footer {
    background: #242830;
    &__img {
        max-width: 110px;
    }
    &__social {
        display: flex;
        margin-bottom: 16px;
        width: fit-content;
        align-items: center;
    }
    &__link {
        width: 27px;
        height: 27px;
        transition: 1s;
        &:first-child {
            background: url(../img/svg/facebook.svg) no-repeat 100% center;
            &:hover {
                background: url(../img/svg/facebook-hover.svg) no-repeat 100% center;
            }
        }
        &:nth-child(2) {
            background: url(../img/svg/instagram.svg) no-repeat 100% center;
            &:hover {
                background: url(../img/svg/instagram-hover.svg) no-repeat 100% center;
            }
        }
        &:last-child {
            background: url(../img/svg/email.svg) no-repeat 100% center;
            &:hover {
                background: url(../img/svg/email-hover.svg) no-repeat 100% center;
            }
        }
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
    &__text {
        font-size: 12px;
        line-height: 16px;
    }
}

@import 'media';